* {
 color: white
}
.date {
    background-color:  #23272A;
    border-radius: 2px;
}
.date:focus {
    border: 1px solid #5865F2;
}
.select {
    background-color:  #23272A;
    border-radius: 2px;
}
#sidebar {
    margin-top: 0px;
    width: 100%;
    height: 40px;
}
#style {
    margin-top: 8px;
}
/* #settings {
    /* float: left */
} */
/* transition-all mt-4 cursor-pointer inline-block rounded-md border-2 border-gray-100 bg-gray-100 dark:border-gray-750 dark:bg-gray-750  */